{% extends 'mapa/base.html' %}
{% load static %}
{% load svg %}
{% block content %}
    <div class="pagina-inicial">
        <main>
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__iamgem" src="{% static '/assets/imagens/banner_ufabc.png' %}" alt="banner UFABC">
                    <h1 class="banner__titulo">Sistema inteligente de gestão de resíduos urbanos</h1>
                </section>
                <section>
                    <h1 class="map">{% svg 'mapa-cru' %}</h1>
                </section>
            </section>
        </main>
    </div>
{% endblock %}